In [1]:
# 필요 라이브러리 로드
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import platform

# if platform.system() == 'Windows':
    
# # 윈도우인 경우 맑은 고딕 폰트 이용
#     font_name = font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf')
#     rc('font', family=font_name, size= 8)
# # Mac 인 경우
    #rc('font', family='AppleGothic', size= 8)

#그래프에서 마이너스 기호가 표시되게 하는 설정입니다.
plt.rcParams['axes.unicode_minus'] == False

False

In [6]:
power_df  = pd.read_csv('data/한국전력거래소_지역별 시간별 태양광 발전량_20211231.csv', encoding='cp949')
power_df.head(2)

         거래일자  거래시간   지역   발전량
0  2018-01-01     1  강원도  13.68
1  2018-01-01     2  강원도   0.00

In [7]:
power_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596088 entries, 0 to 596087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래일자    596088 non-null  object
 1   거래시간    596088 non-null  int64
 2   지역      596088 non-null  object
 3   발전량     596088 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 18.2+ MB

In [11]:
power_df['발전량 ']

0            13.680
1             0.000
2            14.400
3             0.000
4             0.000
            ...
596083    47668.337
596084    41720.571
596085    23464.794
596086     8098.187
596087     2451.798
Name: 발전량 , Length: 596088, dtype: float64

In [18]:
df =power_df.groupby(['지역', '거래시간','거래일자'], as_index=False)['발전량 '].mean()
df

          지역  거래시간        거래일자      발전량
0        강원도     1  2018-01-01    13.680
1        강원도     1  2018-01-02    13.680
2        강원도     1  2018-01-03    13.680
3        강원도     1  2018-01-04    13.680
4        강원도     1  2018-01-05     0.000
...      ...   ...         ...       ...
596083  충청북도    24  2021-12-27   815.208
596084  충청북도    24  2021-12-28     0.720
596085  충청북도    24  2021-12-29     0.240
596086  충청북도    24  2021-12-30  1796.576
596087  충청북도    24  2021-12-31  2451.798

[596088 rows x 4 columns]

In [19]:
df.to_csv('sun_data.csv', encoding= 'cp949')

In [20]:
wind_df  = pd.read_csv('data/한국전력거래소_시간별 풍력발전량_20211231.csv', encoding='cp949')
wind_df.head(2)

         거래일자  거래시간   지역     발전량
0  2018-01-01     1  강원도  143991
1  2018-01-01     2  강원도  142730

In [22]:
df =wind_df.groupby(['지역', '거래시간','거래일자'], as_index=False)['발전량'].mean()
df

          지역  거래시간        거래일자       발전량
0        강원도     1  2018-01-01  143991.0
1        강원도     1  2018-01-02  171907.0
2        강원도     1  2018-01-03   48679.0
3        강원도     1  2018-01-04   42158.0
4        강원도     1  2018-01-05    5623.0
...      ...   ...         ...       ...
385699  충청남도    24  2021-12-27       0.0
385700  충청남도    24  2021-12-28     108.0
385701  충청남도    24  2021-12-29    1966.0
385702  충청남도    24  2021-12-30    1276.0
385703  충청남도    24  2021-12-31      88.0

[385704 rows x 4 columns]

In [23]:
df.to_csv('wind_data.csv', encoding= 'cp949')