In [1]:
# 필요 라이브러리 로드
from matplotlib import font_manager, rc
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import platform

#그래프에서 마이너스 기호가 표시되게 하는 설정입니다.
plt.rcParams['axes.unicode_minus'] == False

False

In [2]:
power_hour_df  = pd.read_csv('blakcout.csv', encoding='cp949')
power_hour_df.head(2)

   Unnamed: 0.1  Unnamed: 0        0                                    1   2
0             0           0  강원도 삼척시  2022.03.05 00:30 / 2022.03.05 01:23   1
1             1           1  강원도 삼척시  2022.03.04 17:43 / 2022.03.05 01:21  14

In [13]:
power_hour_df['시작시간'] = power_hour_df['1'].str.split('/').str[0]
power_hour_df['종료시간'] = power_hour_df['1'].str.split('/').str[1]

In [14]:
power_hour_df.head(2)

,Unnamed: 0.1,Unnamed: 0,0,1,2,시작시간,종료시간
0,0,0,강원도 삼척시,2022.03.05 00:30 / 2022.03.05 01:23,1,2022.03.05 00:30,2022.03.05 01:23
1,1,1,강원도 삼척시,2022.03.04 17:43 / 2022.03.05 01:21,14,2022.03.04 17:43,2022.03.05 01:21

In [15]:
power_hour_df.rename(columns = {'2' : '피해_가구수', '0' : '정전피해_지역'}, inplace = True)

In [16]:
power_hour_df.head(2)

,Unnamed: 0.1,Unnamed: 0,정전피해_지역,1,피해_가구수,시작시간,종료시간
0,0,0,강원도 삼척시,2022.03.05 00:30 / 2022.03.05 01:23,1,2022.03.05 00:30,2022.03.05 01:23
1,1,1,강원도 삼척시,2022.03.04 17:43 / 2022.03.05 01:21,14,2022.03.04 17:43,2022.03.05 01:21

In [19]:
power_hour_df.drop(columns=['Unnamed: 0.1','Unnamed: 0','1'], inplace = True)

In [20]:
power_hour_df.head(2)

   정전피해_지역  피해_가구수               시작시간               종료시간
0  강원도 삼척시       1  2022.03.05 00:30    2022.03.05 01:23
1  강원도 삼척시      14  2022.03.04 17:43    2022.03.05 01:21

In [21]:
power_hour_df.to_csv('blackout.csv', encoding='cp949')